asn1crypto==0.24.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
defer==1.0.6
distro-info===0.18ubuntu0.18.04.1
Django==2.2.1
Guake==3.0.5
httplib2==0.9.2
idna==2.8
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.0.1
language-selector==0.1
lxml==4.3.4
macaroonbakery==1.1.3
matplotlib==2.2.2
mock==2.0.0
msgpack==0.6.1
numexpr==2.6.9
numpy==1.16.4
opencv-contrib-python==3.4.2.16
pandas==0.24.2
pbr==5.1.3
Pillow==5.2.0
protobuf==3.0.0
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.26.1
pymacaroons==0.13.0
pymongo==3.8.0
PyNaCl==1.1.2
pyparsing==2.2.0
pyRFC3339==1.0
pytesseract==0.2.4
python-apt==1.6.4
python-dateutil==2.8.0
pytz==2019.1
pyxdg==0.25
pyzmq==18.0.1
requests==2.22.0
requests-unixsocket==0.1.5
schedule==0.6.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
system-service==0.3
systemd-python==234
TA-Lib==0.4.17
tables==3.5.1
threadpool==1.3.2
tushare==1.2.35
ubuntu-drivers-common==0.0.0
unattended-upgrades==0.1
urllib3==1.25.3
xkit==0.0.0
xlrd==1.2.0
